<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayout-Storyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACB2A21B1BC42E8400B86ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB2A2341BC42E8400B86ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB2A23F1BC42E8400B86ED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
